{% load static lounge_tags %}<fieldset class="fieldset">
  <legend>Basics</legend>
  <div class="field-row">
    {% include "lounge/partials/field.html" with field=form.name %}
    {% include "lounge/partials/field.html" with field=form.category %}
  </div>
  <div class="field-row">
    {% include "lounge/partials/field.html" with field=form.price %}
    {% include "lounge/partials/field.html" with field=form.sort_order %}
  </div>
  {% include "lounge/partials/field.html" with field=form.slug %}
  {% include "lounge/partials/field.html" with field=form.short_description %}
  {% include "lounge/partials/field.html" with field=form.description %}
</fieldset>
<fieldset class="fieldset">
  <legend>Picture</legend>
  <div class="illustration-picker">
    {% include "lounge/partials/field.html" with field=form.illustration %}
    <img class="illustration-picker__preview" src="{{ form.illustration.value|picture_preview }}" alt="Preview of the selected picture" width="240" height="180" data-illustration-preview data-base="{% static 'lounge/img/menu/' %}" data-photo-base="{% static 'lounge/img/menu/photos/' %}" data-photos="{% photo_keys %}"{% if not form.illustration.value %} hidden{% endif %}>
  </div>
</fieldset>
<fieldset class="fieldset">
  <legend>Brewing and dietary notes</legend>
  <div class="field-row field-row--3">
    {% include "lounge/partials/field.html" with field=form.caffeine %}
    {% include "lounge/partials/field.html" with field=form.brew_temperature_c %}
    {% include "lounge/partials/field.html" with field=form.brew_time %}
  </div>
  <div class="field-row">
    {% include "lounge/partials/field.html" with field=form.tasting_notes %}
    {% include "lounge/partials/field.html" with field=form.allergens %}
  </div>
</fieldset>
<fieldset class="fieldset">
  <legend>Visibility</legend>
  <div class="check-grid">
    {% include "lounge/partials/checkbox.html" with field=form.is_listed %}
    {% include "lounge/partials/checkbox.html" with field=form.is_available %}
    {% include "lounge/partials/checkbox.html" with field=form.is_featured %}
  </div>
</fieldset>
